<!--This Index Page is for users to know the website and get prompted the option to sign up or login to their account to acess quicksense. --->

<!DOCTYPE html>
<html>
<head>

    <title>QuickSense</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<div class="auth-container">

    <div class="auth-card index-card">
        <h1>Welcome to QuickSense 🩺 </h1>
        <p>QuickSense is designed to help you become more aware of your hearing and vision health through simple self-checks.
            <p style="color: rgb(235, 98, 98);">
            <strong>Disclaimer:</strong> This tool is not a medical diagnosis. 
            If you experience any concerns about your hearing or vision, please consult a licensed healthcare professional. 
            Always verify results with a qualified doctor.</p>

        <div class="index-buttons">
            <a href="/login"><button>Login</button></a>
            <a href="/signup"><button>Sign Up</button></a>
        </div>
    </div>

</div>

</body>
</html>